<ion-view view-title="Expenses">
  <ion-content>
    <h1>Expenses</h1>

	<form>
    <div class="add-expense-form">
        <div class="input">
            <input type="text"  ng-model="newExpense.amount" class="form-input-amount new-expense-data" placeholder="Amount">
            <input type="text"  ng-model="newExpense.description" class="form-input-description new-expense-data" placeholder="Description"> 
            <div class="expenses-categories">
	             <select class="expenses-categories">
	                <option value="" disabled selected>Select Budget Category</option>
	                <option ng-repeat="budgetCategory in budgetCategories" value="{{ budgetCategory.description }}">{{ budgetCategory.description }}</option>
	            </select>
        	</div>
	        	<div class="paid-by-users">
	            <select class="paid-by-users">
	                <option value="" disabled selected>Select Paid By</option>
	                <option ng-repeat="user in users" value="{{ user.name }}">{{ user.name }}</option>
	            </select>
        	</div>
		</div> 
		<button type="submit" class="button" ng-click="addExpense()" ng-disabled="!newExpense.amount">Add</button>
	</div>
	</form>
	  <pre ng-if="false">EXPENSES: {{ expenses|json }}</pre>

    <table class="table table-hover">
  		<thead>
  			<tr class="table-row-headers">
	  			<th class="date">Date</th>
	  			<th class="amount">Amount</th>
	  			<th class="description">Description</th>
	  			<th class="budget-category">Budget Category</th>
	  			<th class="paid-by">Paid By</th>
  			</tr>
  		</thead>
  		<tbody>
            <tr colspan="5" class="expenses-list-row" ng-repeat="expense in expenses">
                <td class="expense-date">{{ expense.date }}</td>
                <td class="expense-amount">{{ expense.amount }}</td>
                <td class="expense-description">{{ expense.description }}</td>
                <td class="expense-budget-category">{{ expense.budgetCategory }}</td>
                <td class="expense-paid-by">{{ expense.paidBy }}</td>
            </tr>
		</tbody>
	</table>
  </ion-content>
</ion-view>
