<ion-view view-title="Overview">
  <ion-content>
    <h1>Overview</h1>

    <div class="current-month-chart">
    	<h4>{{ currentMonthAsString() }}'s Expenses</h4>
    </div>

    		<!-- <pre>{{expenses|json}}</pre> -->
    <table class="table">
    	<tr class="expenses" ng-repeat="expense in expenses | filter:filterBySubstring()">
            <td class="category-description">{{ expense.amount }}</td>
        </tr>
        <tr>
            <td>
                <h5>Total Expenses: {{ getTotal(currentMonthAsString()) }}</h5>
            </td>
        </tr>
    </table>



  </ion-content>
</ion-view>
